<!-- go back -->
<page-header [header]="title" [backButton]="false" class="my-4"></page-header>

<only-search-filter (onSearch)="applyFilters($event)"></only-search-filter>

<ng-container *ngIf="(sectors.length && sectors.length > 0 );else noDataTemplate">
  <!-- Table -->
  <div class="row">
    <div class="col-12">
      <div class="table-responsive-sm">
        <table class="table card-table">
          <thead>
            <tr>
              <th *ngFor="let head of tableHeaders" scope="col">{{head}}</th>
              <!-- actions -->
              <th scope="col" style="width: 150px;"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Separator for showing a space between thead an tbody -->
            <tr class="table-separator">
              <td [colSpan]="this.tableHeaders.length+1"></td>
            </tr>
            <tr *ngFor="let sector of sectors">
              <td class="font-weight-light">{{sector.name}}</td>
              <td class="font-weight-light">{{sector.description}}</td>
              <td>
                <img class="action-icon" routerLink="./edit/{{ sector.id }}" [src]="utils.assets('actions/edit.png')">
                <img class="action-icon" (click)="delete(sector)" [src]="utils.assets('actions/delete.png')">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="row mt-4">
    <div class="col-md-12">
      <app-pagination [pagination]="pagination" [loader]="loadingPage" (_changePage)="goToPage($event)">
      </app-pagination>
    </div>
  </div>
</ng-container>

<!-- Delete modal -->
<ng-container *ngIf="showDeleteOpts">
  <app-confirmation [_message]="deleteText" [_loadingConfirm]="false" (close)="onDeleteClose($event,true)"
    (confirm)="onDeleteClose($event)">
  </app-confirmation>
</ng-container>

<ng-template #noDataTemplate>
  <div class="row p-2">
    <div class="col text-center text-secondary">
      <i class="fa fa-filter fa-4x" aria-hidden="true"></i>
      <h4 class="h4 text-secondary">
        No se encontrarón resultados.
      </h4>
    </div>
  </div>
</ng-template>
<floating-button [icon]="utils.assets('actions/addplus.png')" (onClick)="createSector()"></floating-button>