<div class="row">
	<div class="col bg-image-responsive embedVideo" style="height: 350px;">
		<div class="box-container d-flex align-items-center text-secondary" style="height: 100%;">
			<span style="margin: auto;">
				<i class="fa fa-video-camera fa-5x" aria-hidden="true"></i>
				<br>
				Cargando
			</span>
		</div>
	</div>
</div>

<ng-container *ngIf="!_loadingInit; else LoadingTemplate">

	<ng-container *ngIf="_error == ''; else errorTemplate">
		<div class="row mt-5">
			<div class="col-3">
				<img [src]="urlImage" style="width: 100%; height: auto;">
				<!-- <div class="bg-image-responsive" [style.background]="'url(' + urlImage + ')'"
					style="width: 100%; height: 8em;">
				</div> -->
				<br>
				<br>
				<div>
					<a href="_Entity.website" target="_BLANK" class="text-secondary">
						{{ _Entity.website }}
					</a>
				</div>
			</div>
			<div class="col">
				<span class="h4 text-secondary font-weight-bold">
					{{ _Entity.name }}
				</span>
				<br>
				<br>
				<p class="text-justify post-description">
					{{ _Entity.description }}
				</p>
			</div>
		</div>

		<br> <br>
		<hr>
	</ng-container>
</ng-container>

<ng-template #LoadingTemplate>
	<!-- <div class="row">
		<div class="col">
			Cargando ...
		</div>
	</div> -->
</ng-template>

<ng-template #errorTemplate>
	<div class="row">
		<div class="col text-center text-secondary">
			<i class="fa fa-inbox fa-4x" aria-hidden="true"></i>
			<h4 class="h4">
				Error cargando información de aliados
			</h4>
			<p class="text-center">
				{{ _error }}
			</p>
		</div>
	</div>
</ng-template>