<ng-container *ngIf="!_showConfirm">
	<div class="modal-backdrop" style="background-color: #0000007a;"></div>

	<ng-container *ngIf="viewState == 1">
		<div class="modal modal-2 animated fadeInDown" tabindex="-1" role="dialog"
			style="display: block; overflow-y: auto;">
			<div class="modal-dialog modal-dialog-centered modal-md" role="document">
				<div class="modal-content">
					<div class="d-flex justify-content-center" *ngIf="viewState == 1">
						<button class="btn btn-rounded btn-rounded-close" (click)="close()">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
					</div>

					<div class="modal-body modal-body--logis">
						<div class="row mb-3">
							<div class="col">
								<h3>{{ _title }}</h3>
							</div>
						</div>
						<div class="row" *ngIf="_loadingForm">
							<div class="col-md-12">
								Cargando...
							</div>
						</div>
						<div class="row" *ngIf="!_loadingForm && !_Entity">
							<div class="col-md-12">
								Error cargando formulario
							</div>
						</div>

						<form [formGroup]="FormEntity" *ngIf="!_loadingForm && _Entity">
							<div class="row">
								<div class="col form-group">
									<label for="">Fecha</label>
									<ng-container *ngIf="_editMode">
										<div class="input-group">
											<input type="text" class="form-control input-2" formControlName="date"
												(ngModelChange)="_errorMessage = ''" [minDate]="_minDate" ngbDatepicker
												#f_date="ngbDatepicker" placeholder="aaaa-mm-dd" readonly>
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" type="button"
													id="button-addon2" (click)="f_date.toggle();">
													<i class="fa fa-calendar" aria-hidden="true"></i>
												</button>
											</div>
										</div>
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.date.invalid && FormEntity.controls.date.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-container *ngIf="!_editMode">
										<div class="text-secondary">
											{{ setDate() }}
										</div>
									</ng-container>
								</div>
								<div class="col form-group">
									<label for="">Hora</label>
									<ng-container *ngIf="_editMode">
										<div class="input-group">
											<input type="text" [(ngModel)]="_timeToshow"
												[ngModelOptions]="{standalone: true}" [ngbPopover]="popTemplate"
												[autoClose]="'outside'" readonly #popTime="ngbPopover"
												[popoverTitle]="popTitle" class="form-control control-1"
												placeholder="HH:MM:SS">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary" type="button"
													id="button-addon2" (click)="popTime.toggle();">
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</button>
											</div>
											<ng-template #popTemplate>
												<ngb-timepicker formControlName="hour" meridian="true"
													(ngModelChange)="setTime($event)">
												</ngb-timepicker>
											</ng-template>
										</div>
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.hour.invalid && FormEntity.controls.hour.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-container *ngIf="!_editMode">
										<div class="text-secondary">
											{{ _timeToshow }}
										</div>
									</ng-container>
								</div>
							</div>

							<div class="row">
								<div class="col form-group">
									<label for="">Dirección</label>
									<ng-container *ngIf="_editMode">
										<input type="text" class="form-control input-2" formControlName="address"
											maxlength="100">
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.address.invalid && FormEntity.controls.address.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-container *ngIf="!_editMode">
										<div class="text-secondary">
											{{ _Entity.address }}
										</div>
									</ng-container>
								</div>

								<div class="col form-group">
									<label for="">Persona a cargo</label>
									<ng-container *ngIf="_editMode">
										<select class="form-control input-2" formControlName="interviewerId"
											[ngClass]="{'disabled': currentUser.userTypeId == 2 && _idEntity}">
											<option *ngIf="!_idEntity &&  currentUser.userTypeId == 2"
												[value]="currentUser.id" selected="selected">{{ currentUser.name }}
											</option>
											<!--  -->
											<ng-container *ngIf=" currentUser.userTypeId !== 2">
												<option value="">Seleccionar</option>
												<option *ngFor="let interviewer of _interViewers"
													[value]="interviewer.id">
													{{ interviewer.name }}
												</option>
											</ng-container>


										</select>
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.interviewerId.invalid && FormEntity.controls.interviewerId.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-container *ngIf="!_editMode">
										<div class="text-secondary">
											{{ _Entity.interviewer.name }}
										</div>
									</ng-container>
								</div>
							</div>

							<div class="row">
								<div class="col form-group">
									<label for="">Vacante</label>
									<ng-container *ngIf="_editMode && !_idEntity; else vacancyNameTemp">
										<select class="form-control input-2" formControlName="vacancyId"
											(change)="changeVacancy($event)">
											<option value="">Seleccionar</option>
											<option *ngFor="let vacancy of _vacancies" [value]="vacancy.id">
												{{ vacancy.name }}
											</option>
										</select>
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.vacancyId.invalid && FormEntity.controls.vacancyId.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-template #vacancyNameTemp>
										<div class="text-secondary">
											{{ _Entity.vacancy.name }}
										</div>
									</ng-template>
								</div>
							</div>
							<div class="row">
								<div class="col form-group">
									<label for="">Usuario</label>
									<ng-container *ngIf="_editMode && !_idEntity; else userNameTemp">
										<select class="form-control input-2"
											[ngClass]="{'select-loading': _loadingCandidates}" formControlName="userId">
											<option value="">Seleccionar</option>
											<option *ngFor="let candidate of _candidates" [value]="candidate.user.id">
												{{ candidate.user.firstName }} {{ candidate.user.lastName }}
											</option>
										</select>
										<span class="text-danger invalid-control"
											*ngIf="FormEntity.controls.userId.invalid && FormEntity.controls.userId.dirty">
											Campo requerido
										</span>
									</ng-container>
									<ng-template #userNameTemp>
										<div>
											<a routerLink="../../user-view/{{_Entity.userId}}">
												{{ _Entity.user.firstName }} {{ _Entity.user.lastName }}
											</a>
										</div>
									</ng-template>
								</div>
							</div>
							<br>
							<div class="row" *ngIf="!_editMode">
								<div class="col">
									<button class="btn btn-ok btn-ok--blue">
										Notificar al cliente
									</button>
								</div>
								<div class="col-auto">
									<button class="btn btn-ok btn-ok--blue" style="min-width: 100px"
										*ngIf="!_Entity.done" (click)="_editMode = true">
										Editar
									</button>
								</div>
								<div class="col-auto">
									<button class="btn btn-ok btn-ok--blue" (click)="delete()" style="min-width: 100px">
										Eliminar
									</button>
								</div>
							</div>

							<ng-container *ngIf="_editMode">
								<div class="row mb-3" *ngIf="_errorMessage">
									<div class="col text-center">
										<div class="alert alert-danger" role="alert">
											{{ _errorMessage }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col text-center">
										<button class="btn btn-outline-secondary mr-3" *ngIf="_idEntity"
											(click)="_editMode = false">
											Cancelar
										</button>
										<button type="submit" [disabled]="_loading" class="btn btn-ok btn-ok--blue"
											(click)="save()">
											<i *ngIf="_loading" class="fa fa-circle-o-notch fa-spin"
												aria-hidden="true"></i>
											{{ _btnText }}
										</button>
									</div>
								</div>
							</ng-container>
						</form>
					</div>
					<ng-container *ngIf="!_loadingForm && _Entity">
						<div class="modal-body bg-light" *ngIf="!_editMode">
							<ng-container *ngIf="!_Entity.done">
								<h4>¿Desea marcar esta entrevista como realizada?</h4>
								<div class="row">
									<div class="col">
										<button class="btn btn-ok btn-ok--blue" (click)="viewState = 2">
											Realizada
										</button>
									</div>
								</div>
							</ng-container>
							<ng-container *ngIf="_Entity.done">
								<h5>Comentarios</h5>
								<p class="text-secondary">
									{{ _Entity.comment }}
								</p>
							</ng-container>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>

<ng-container *ngIf="viewState == 2">
	<div class="modal modal-2" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
		<div class="modal-dialog modal-dialog-centered modal-md" role="document">
			<div class="modal-content animated fadeInRight">
				<div class="d-flex justify-content-center">
					<button class="btn btn-rounded btn-rounded-close" (click)="viewState = 1">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="modal-body modal-body--logis pt-5">
					<div class="row">
						<div class="col-12 text-center icon-container">
							<img src="assets/Yes.png">
						</div>
					</div>

					<div class="row mt-2 mb-4">
						<div class="col-12 text-center">
							<span class="text-secondary">
								Ha marcado la entrevista como realizada. <br>
								Desea marcar al candidato como:
							</span>
						</div>
					</div>
					<div class="row">
						<!-- <div class="col text-center">
							<button class="btn btn-outline-secondary" (click)="viewState = 1">
								Cancelar
							</button>
						</div> -->
						<div class="col text-center">
							<button class="btn btn-danger" style="min-width: 100px;"
								(click)="_approved = false; viewState = 3">
								No Apto
							</button>
						</div>
						<div class="col text-center">
							<button class="btn btn-success" style="min-width: 100px;"
								(click)="_approved = true; viewState = 3">
								Apto
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<ng-container *ngIf="viewState == 3">
	<div class="modal modal-2" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
		<div class="modal-dialog modal-dialog-centered modal-md" role="document">
			<div class="modal-content animated fadeInRight">
				<div class="modal-body modal-body--logis pt-5">
					<div class="row mt-3 mb-4">
						<div class="col">
							<h4 class="text-secondary">Añadir comentario</h4>
						</div>
					</div>
					<div class="row">
						<div class="col form-group">
							<textarea [(ngModel)]="_comment" class="form-control input-2" rows="5"
								maxlength="500"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="col text-center">
							<button class="btn btn-outline-secondary mr-3" (click)="viewState = 2"
								style="min-width: 100px;">
								Volver
							</button>

							<button [disabled]="_loadingComment || !_comment" class="btn btn-ok btn-ok--blue"
								(click)="markAsDone()" style="min-width: 100px;">
								Enviar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="_showConfirm">
	<app-confirmation [_message]="_confirmMessage" [_loadingConfirm]="_loadingConfirm" (close)="closeConfirm($event)"
		(confirm)="confirm($event)">
	</app-confirmation>
</ng-container>