._header{
  font-size: 20px;
  line-height: 19px;
  margin: 0;
  font-weight: 500;
  color: #003068;
  }

._header_count{
    font-size: 35px;
    line-height: 44px;
    font-weight: bold;
    color: #003068;
  }


.active{
  color: white !important;
}
