@import '../../../../../../sass/vars';

@media (min-width: 768px){
    .modal-md {
        max-width: 1060px;
    }
}

.btn-modal-video{
    width: 254px;
    height: 64px;
}

.content-name-video{
    width: 100%; 
    height: 45px; 
    background-color: #A3CEF6; 
    color: $primary; 
    border-radius: 5px;
}