<h4 class="text-secondary">Ordenes de ingreso</h4>

<ng-container *ngIf="!_loadingInit; else LoadingTemplate">
  <ng-container *ngIf="_error == ''; else errorTemplate">
    <ng-container *ngIf="_result?.data?.length; else noDataTemplate">

      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="FormFilter">

            <div class="row" style="margin-bottom: 15px;">
              <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="searchByVacancy">
              </div>
              <div class="col-auto">
                <button class="btn btn-ok btn-ok--blue" [disabled]="_loadingFilter || !validFilterForm"
                  (click)="filter()">
                  <i *ngIf="_loadingFilter" class="fa fa-circle-o-notch fa-spin"></i>
                  Buscar
                </button>

                <button class="btn btn-outline-danger ml-2" *ngIf="filterParams" (click)="clearFilter()"
                  title="Deshacer filtros">
                  <i *ngIf="!_loadingPage" class="fa fa-minus-circle"></i>
                  <i *ngIf="_loadingPage" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-12">
          <table class="table table-white table-hover">
            <thead>
              <tr>
                <th>
                  Codigo
                </th>
                <th>
                  Fecha
                </th>
                <th>
                  Vacante
                </th>
                <th>
                  Salario
                </th>
                <th>
                  Compañia
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of _result?.data">
                <td>
                  {{item.id}}
                </td>
                <td>
                  {{item.updatedAt | date:'medium'}}
                </td>
                <td>
                  {{item.vacancy.name}}
                </td>
                <td>
                  {{item.vacancy.salary | currency:'COP':''}}
                </td>
                <td>
                  {{item.company.name}}
                </td>
                <td>
                  <a href="{{item.entryOrdersFile}}">Descargar PDF</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 
        <div class="col-md-12">
          <button class="btn btn-ok btn-ok--blue" style="width: 100%">Siguiente</button>
        </div>
        -->
        <div class="col-md-12">
          <app-pagination [pagination]="_pagination" [loader]="_loadingPage" (_changePage)="goToPage($event)">
          </app-pagination>
        </div>
      </div>

    </ng-container>

  </ng-container>
</ng-container>


<router-outlet></router-outlet>

<ng-container *ngIf="_showConfirm">
  <app-confirmation [_message]="_confirmMessage" [_loadingConfirm]="_loadingConfirm" (close)="closeConfirm($event)"
    (confirm)="confirm($event)">
  </app-confirmation>
</ng-container>


<ng-template #LoadingTemplate>
  <div class="row">
    <div class="col">
      Cargando...
    </div>
  </div>
</ng-template>

<ng-template #noDataTemplate>
  <div class="row">
    <div class="col text-center text-secondary" *ngIf="!filterParams">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4">
        Aún no se han creado registros.
      </h4>
    </div>
    <div class="col text-center text-secondary" *ngIf="filterParams">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4 text-secondary">
        No se encontrarón resultados con los párametros indicados.
      </h4>
      <button class="btn btn-outline-secondary" *ngIf="filterParams" (click)="clearFilter()" title="Deshacer filtros">
        <i *ngIf="_loadingPage" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        Deshacer filtros
      </button>
    </div>
  </div>
</ng-template>

<ng-template #errorTemplate>
  <div class="row">
    <div class="col text-center text-secondary">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4">
        Error cargando registros
      </h4>
      <p class="text-center">
        {{ _error }}
      </p>
    </div>
  </div>
</ng-template>