.paper {
    //border: 1px rgb(206, 206, 206) solid;
    background-color: white;
    padding: 40px 40px 60px 40px;
    min-height: 800px;
  }
  .aproved {
    color: green !important;
  }
  .invalid {
    color: red;
  }