.item-option{
    padding: 30px 10px;
    cursor: pointer;
    text-decoration: none;
}

.item-option > span{
    border: none;
    font-size: 1.75rem;
    margin: 0 !important;
}

.no-radious{
    border-radius: 0 !important;
}

.section-title-success-stories{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: #ff6600;
}