.padding-b {
  padding: 15px;
}
.padding-row {
  padding-left: 15px;
  padding-right: 15px;
}
.white {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px 0px 15px 0px;
  p {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
    font-size: 20px;
    //margin-bottom: 0;
  }
  h1 {
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 45px;
  }
}
.padding-col-b {
  padding-left: 60px;
  padding-right: 60px;
}
