<page-header class="my-4" [header]="title" [backButton]="false"></page-header>

<!-- statusKey="companyActive"[status]="statusFilters" (onSearch)="searchFilter($event)" -->
<only-search-filter  
searchKey="searchQuery"
placeholder="Nombre o identificación"
statusKey="statusId"[status]="statusFilters" 
(onSearch)="searchFilter($event)"
 ></only-search-filter>
<ng-container *ngIf="(personalityTests$ | async); let personalityTests;else loading">
  <ng-container *ngIf="personalityTests?.length > 0;else noData">
    <!-- ................................................................................................. -->
    <!-- TABLE -->
    <!-- ................................................................................................. -->
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-sm">
          <table class="table card-table">
            <thead>
              <tr>
                <th *ngFor="let head of tableHeaders" scope="col">{{head}}</th>
                <!-- actions -->
                <th scope="col" style="width: 150px;"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Separator for showing a space between thead an tbody -->
              <tr class="table-separator">
                <td [colSpan]="this.tableHeaders.length+1000"></td>
              </tr>

              <ng-container *ngFor="let personalityTest of personalityTests">
                <tr (click)="printTest(personalityTest)" class="pointer">
                  <td class="font-weight-light">
                    {{personalityTest.user.fullName}}
                  </td>
                  <td class="font-weight-light">
                    {{personalityTest.status.name}}
                  </td>
                  <td class="font-weight-light">
                    {{personalityTest.user.usersSectors | sectorsPipe}}
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
    </div>


    <!-- ................................................................................................. -->
    <!-- PAGINATION -->
    <!-- ................................................................................................. -->
    <div class="row mt-4">
      <div class="col-md-12">
        <app-pagination [pagination]="pagination" [loader]="loadingPage" (_changePage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>
  </ng-container>


</ng-container>

<!-- ................................................................................................. -->
<!-- LOADING TEMPLATE -->
<!-- ................................................................................................. -->
<ng-template #loading>
  <div class="row">
    <div class="col text-center">
      <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
    </div>
  </div>
</ng-template>

<!-- ................................................................................................. -->
<!-- NO DATA -->
<!-- ................................................................................................. -->
<ng-template #noData>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h4 class="h4 text-secondary">
        No se han encontrado resultados.
      </h4>
    </div>
  </div>
</ng-template>