<h4 class="text-secondary">Gestionar costos de vacantes</h4>
<br>

<ng-container *ngIf="!_loadingInit; else LoadingTemplate">
  <ng-container *ngIf="_error == ''; else errorTemplate">
    <ng-container *ngIf="_result?.data?.length; else noDataTemplate">

      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="FormFilter">
            <!-- 
						<div class="row" style="margin-bottom: 15px;">
							<div class="col-md-3">
								<input type="text" class="form-control" placeholder="Nombre" formControlName="search">
							</div>
							<div class="col-auto">
								<button class="btn btn-ok btn-ok--blue"
									[disabled]="_loadingFilter || !validFilterForm" (click)="filter()">
									<i *ngIf="_loadingFilter" class="fa fa-circle-o-notch fa-spin"></i>
									Buscar
								</button>

								<button class="btn btn-outline-danger ml-2" *ngIf="filterParams" (click)="clearFilter()"
									title="Deshacer filtros">
									<i *ngIf="!_loadingPage" class="fa fa-minus-circle"></i>
									<i *ngIf="_loadingPage" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
								</button>
							</div>
            </div>
          -->
          </form>
        </div>

        <div class="col-md-12">
          <table class="table table-white table-hover">
            <thead>
              <tr>
                <th>
                  Rango Inferior
                </th>
                <th>
                  Rango superior
                </th>
                <th>
                  1 - 3
                </th>
                <th>
                  4 - 7
                </th>
                <th>
                  8 - 10
                </th>
                <th>
                  10+
                </th>
                <th class="head-action">
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-rounded btn-rounded-add" routerLink="./form-cost">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <a class="table-link">
                    Crear nuevo costo
                  </a>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of _result?.data">
                <td>
                  {{item.rangoInferior | currency:'COP':''}}
                </td>
                <td>
                  {{item.rangoSuperior | currency:'COP':''}}
                </td>
                <td>
                  {{item.rango1}}
                </td>
                <td>
                  {{item.rango2}}
                </td>
                <td>
                  {{item.rango3 }}
                </td>
                <td>
                  {{item.rango4 }}
                </td>
                <td class="text-center">
                  <button [disabled]="_loadingPage" routerLink="./form-cost/{{ item.id }}"
                    class="table-link btn btn-sm btn-link">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button [disabled]="_loadingPage" (click)="delete(item)" class="table-link btn btn-sm btn-link">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <app-pagination [pagination]="_pagination" [loader]="_loadingPage" (_changePage)="goToPage($event)">
          </app-pagination>
        </div>
      </div>

    </ng-container>

  </ng-container>
</ng-container>


<router-outlet></router-outlet>

<ng-container *ngIf="_showConfirm">
  <app-confirmation [_message]="_confirmMessage" [_loadingConfirm]="_loadingConfirm" (close)="closeConfirm($event)"
    (confirm)="confirm($event)">
  </app-confirmation>
</ng-container>


<ng-template #LoadingTemplate>
  <div class="row">
    <div class="col">
      Cargando...
    </div>
  </div>
</ng-template>

<ng-template #noDataTemplate>
  <div class="row">
    <div class="col text-center text-secondary" *ngIf="!filterParams">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4">
        Aún no se han creado registros.
      </h4>

      <button class="btn btn-ok btn-ok--blue" *ngIf="!_error" routerLink="./form-cost">
        Crear nuevos Costos
      </button>
    </div>
    <div class="col text-center text-secondary" *ngIf="filterParams">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4 text-secondary">
        No se encontrarón resultados con los párametros indicados.
      </h4>
      <button class="btn btn-outline-secondary" *ngIf="filterParams" (click)="clearFilter()" title="Deshacer filtros">
        <i *ngIf="_loadingPage" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        Deshacer filtros
      </button>
    </div>
  </div>
</ng-template>

<ng-template #errorTemplate>
  <div class="row">
    <div class="col text-center text-secondary">
      <i class="fa fa-inbox fa-4x"></i>
      <h4 class="h4">
        Error cargando registros
      </h4>
      <p class="text-center">
        {{ _error }}
      </p>
    </div>
  </div>
</ng-template>