.icon-container {
    padding-top: 8px;
    padding-bottom: 28px;
}

.success-message-container{
    background-color: #28b73b;
    margin-left: -37px;
    margin-right: -37px;
    margin-bottom: -19px;
    border-radius: 0px 0px 13px 13px;
    padding: 22px 20px;
}