<div class="modal-backdrop" style="background-color: #0000007a;"></div>
<div class="modal modal-2 animated fadeInDown" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
	<div class="modal-dialog modal-dialog-centered animated fadeInDown" role="document">
		<div class="modal-content">
			<div class="d-flex justify-content-center">
				<button class="btn btn-rounded btn-rounded-close" (click)="close()">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>

			<div class="modal-body modal-body--logis">
				<h5 class="text-center font-weight-light">{{ _title }}</h5>
				
				<div class="row" *ngIf="_loadingForm">
					<div class="col-md-12">
						Cargando...
					</div>
				</div>

				<div class="row" *ngIf="!_loadingForm && !_Entity">
					<div class="col-md-12">
						Error cargando formulario
					</div>
				</div>
				<hr>
				<form [formGroup]="_formEntity" *ngIf="!_loadingForm && _Entity">
					<div class="row">
						<div class="col-md-12 form-group">
							<label class="font-weight-semi-bold small" for="">Nombre de competencia y/o habilidad</label>
							<input type="text" class="form-control input-2" formControlName="name" maxlength="100">
							<field-error [fcontrol]="_formEntity.get('name')"></field-error>
						</div>
					</div>

					<div class="row justify-content-md-center">
						<div class="col-md-4">
							<button type="submit" [disabled]="_formEntity.invalid || _loading" class="btn btn-block btn-ok--blue" (click)="submitForm()">
								<i *ngIf="_loading" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
								{{ _btnText }}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>