<div class="modal-backdrop" style="background-color: #0000007a;"></div>
<div class="modal modal-2 animated fadeInDown" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
	<div class="modal-dialog modal-dialog-centered modal-md" role="document">
		<div class="modal-content">
			<div class="d-flex justify-content-center">
				<button class="btn btn-rounded btn-rounded-close" (click)="close()">
					<i class="fa fa-times" aria-hidden="true"></i>
				</button>
			</div>
			<div class="modal-body modal-body--logis">
				<h5>{{ _title }}</h5>
				<div class="row" *ngIf="_loadingForm">
					<div class="col-md-12">
						Cargando...
					</div>
				</div>
				<div class="row" *ngIf="!_loadingForm && !_Entity">
					<div class="col-md-12">
						Error cargando formulario
					</div>
				</div>

				<form [formGroup]="FormEntity" *ngIf="!_loadingForm && _Entity">
					<div class="row mb-3">
						<div class="col-4">
							<div class="row h-100">
								<div class="col-12 text-center">
									<div class="bg-image-responsive" [style.background]="'url(' + _storyImage.Url + ')'" style="width: 100%; height: 150px;"></div>
								</div>

								<div class="col-12 text-center mb-2">
									<small>{{ _storyImage.Name }}</small>
								</div>

								<div class="col-12 text-center align-self-end">
									<input type="file" (change)="onInputImageChange($event)" id="inputFacePhoto" accept="image/*" style="display: none;">
									<label class="btn btn-outline-primary btn-block" for="inputFacePhoto" style="margin-bottom: 0px;">
										Subir foto
									</label>
									<p class="text-danger invalid-control" *ngIf="(!_storyImage.Name || _storyImage.Url == 'assets/empty.jpg') && _showError">
										Imagen requerida
									</p>
								</div>
							</div>
						</div>
						<div class="col-8">
							<div class="col-12 bg-image-responsive embedVideo" style="background-image: url(assets/empty.jpg); height: 150px;">
							</div>

							<div class="row mt-3">
								<div class="col-12">
									<textarea rows="2" class="form-control input-2" formControlName="video" (input)="changeEmbed()" placeholder="Por favor inserte aqui el código del video"
									 maxlength="2000"> </textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-6 form-group">
							<label for="">Rol</label>
							<select class="form-control input-2" formControlName="rol">
								<option value="">Seleccionar</option>
								<option value="1">Empresa</option>
								<option value="2">Persona</option>
							</select>
							<span class="text-danger invalid-control" *ngIf="FormEntity.controls.rol.invalid && FormEntity.controls.rol.dirty">
								Campo requerido
							</span>
						</div>
						<div class="col-6 form-group">
							<label for="">Nombre de usuario</label>
							<input type="text" class="form-control input-2" formControlName="name" maxlength="100">
							<span class="text-danger invalid-control" *ngIf="FormEntity.controls.name.invalid && FormEntity.controls.name.dirty">
								Campo requerido
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-12 form-group">
							<label for="">Comentario</label>
							<textarea class="form-control input-2" rows="3" formControlName="comment" maxlength="250"></textarea>
							<span class="text-danger invalid-control" *ngIf="FormEntity.controls.comment.invalid && FormEntity.controls.comment.dirty">
								Campo requerido
							</span>
						</div>
					</div>

					<br>

					<div class="row justify-content-center">
						<div class="col-4 text-center">
							<button type="submit" [disabled]="_loading" class="btn btn-block btn-ok btn-ok--blue" (click)="save()">
								<i *ngIf="_loading" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
								{{ _btnText }}
							</button>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>