<div class="modal-backdrop" style="background-color: #0000007a;"></div>
<div class="modal modal-2 animated fadeInDown" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <button class="btn btn-rounded btn-rounded-close" [disabled]="loading" (click)="onCloseModalApproved()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      <!-- ................................................................................................. -->
      <!-- Show video preinterview -->
      <!-- ................................................................................................. -->
      <ng-container *ngIf="info">
        <div class="modal-body modal-body--logis p-5">
          <h3 class="mt-2 text-left ml-3 mr-3">{{info.user.fullName}} - {{info.vacancy.name}}</h3>
          <div class="row mt-5 ml-3 mr-3">
            <div class="col-12">
              <app-video [src]="video.Location" [autoplay]="true"></app-video>
            </div>
          </div>
          <!-- ................................................................................................. -->
          <!-- Buttons approved and reject -->
          <!-- ................................................................................................. -->
          <div class="row mt-3 mb-3 d-flex justify-content-center p-3" *ngIf="info.statusId === 3">
            <button
              class="btn  btn-ok--blue pt-2 pb-2 ml-2 input-2 btn-videopreinterviews btn-videopreinterviews-notfound"
              [disabled]="loading" (click)="onReject()">
              {{textRejected}}
            </button>
            <button class="btn btn-ok--blue pt-2 pb-2 ml-2 input-2 btn-videopreinterviews" [disabled]="loading"
              (click)="onApprove()">
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
              {{textApproved}}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>