@media screen and (min-width: 899px){
    .modal-md {
        max-width: 70vw !important;
    }
    .btn-rounded-close{
        left: 98%;
    }
}

.btn-videopreinterviews{
    width: 219px;
}

.btn-videopreinterviews-notfound{
    background-color: transparent !important;
    color: #00528c
}