.subtitle {
    font-size: 14px;
}

.title-user {
    color: #198ac4;
    font-weight: bold;
}

.title-comment {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
}

.star {
    font-size: 2.5rem;
    color: #b0c4de;
}
.filled {
    color: #198ac4;
}
.bad {
    color: #198ac41a;
}
.filled.bad {
    color: #198ac4;
}
