<div class="row">
  <div class="col">
    <!-- name -->
    <div class="row" *ngFor="let behaviour of behaviours.controls; let idx = index">
      <div class="col-12 form-group" [formGroup]="behaviour">
        <label for="">Nombre de la conducta #{{idx+1}}</label>
        <input type="text" class="form-control input-3" formControlName="name" maxlength="100">
        <span class="text-danger invalid-control"
          *ngIf="behaviour.get('name').invalid && behaviour.get('name').dirty">
          Campo requerido.
        </span>
      </div>
    </div>
  </div>
</div>