.star {
    font-size: 1.3rem;
    color: #b0c4de;
}
.filled {
    color: #198ac4;
}
.bad {
    color: #198ac41a;
}
.filled.bad {
    color: #198ac4;
}

.title-page{
    font-size: 20px;
}

.results{
    font-size: 18px;
    color: #bacbdb;
}

.ng-select-bg .ng-select .ng-select-container{
    max-height: 50px !important;
}
